<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h2>Welcome, {{ username }}!</h2>
    <a href="/logout">Logout</a>
    
    <h3>Search for a Word:</h3>
    <form action="/translate" method="GET">
        <label for="word">Word:</label>
        <input type="text" id="word" name="word" required>
        <label for="language">Language:</label>
       
        <select name="language" id="language" required>
             <!-- Selected Languages -->
             <option value={{second_language}} selected>{{second_language}}</option>
             <!-- Languages -->
             <option value="Afrikaans">Afrikaans</option>
             <option value="Amharic">Amharic</option>
             <option value="Arabic">Arabic</option>
             <option value="Assamese">Assamese</option>
             <option value="Azerbaijani">Azerbaijani</option>
             <option value="Belarusian">Belarusian</option>
             <option value="Bengali">Bengali</option>
             <option value="Bosnian">Bosnian</option>
             <option value="Catalan">Catalan</option>
             <option value="Czech">Czech</option>
             <option value="Welsh">Welsh</option>
             <option value="Danish">Danish</option>
             <option value="German">German</option>
             <option value="Greek">Greek</option>
             <option value="English">English</option>
             <option value="Esperanto">Esperanto</option>
             <option value="Spanish">Spanish</option>
             <option value="Estonian">Estonian</option>
             <option value="Basque">Basque</option>
             <option value="Persian">Persian</option>
             <option value="Finnish">Finnish</option>
             <option value="Filipino">Filipino</option>
             <option value="French">French</option>
             <option value="Galician">Galician</option>
             <option value="Gujarati">Gujarati</option>
             <option value="Hebrew">Hebrew</option>
             <option value="Hindi">Hindi</option>
             <option value="Croatian">Croatian</option>
             <option value="Hungarian">Hungarian</option>
             <option value="Armenian">Armenian</option>
             <option value="Indonesian">Indonesian</option>
             <option value="Icelandic">Icelandic</option>
             <option value="Italian">Italian</option>
             <option value="Japanese">Japanese</option>
             <option value="Javanese">Javanese</option>
             <option value="Georgian">Georgian</option>
             <option value="Kazakh">Kazakh</option>
             <option value="Khmer">Khmer</option>
             <option value="Kannada">Kannada</option>
             <option value="Korean">Korean</option>
             <option value="Kurdish">Kurdish</option>
             <option value="Kyrgyz">Kyrgyz</option>
             <option value="Latin">Latin</option>
             <option value="Luxembourgish">Luxembourgish</option>
             <option value="Lao">Lao</option>
             <option value="Lithuanian">Lithuanian</option>
             <option value="Latvian">Latvian</option>
             <option value="Malagasy">Malagasy</option>
             <option value="Maori">Maori</option>
             <option value="Macedonian">Macedonian</option>
             <option value="Malayalam">Malayalam</option>
             <option value="Mongolian">Mongolian</option>
             <option value="Marathi">Marathi</option>
             <option value="Malay">Malay</option>
             <option value="Maltese">Maltese</option>
             <option value="Burmese">Burmese</option>
             <option value="Nepali">Nepali</option>
             <option value="Dutch">Dutch</option>
             <option value="Norwegian">Norwegian</option>
             <option value="Nyanja">Nyanja</option>
             <option value="Oriya">Oriya</option>
             <option value="Punjabi">Punjabi</option>
             <option value="Polish">Polish</option>
             <option value="Portuguese">Portuguese</option>
             <option value="Romanian">Romanian</option>
             <option value="Russian">Russian</option>
             <option value="Sindhi">Sindhi</option>
             <option value="Sinhala">Sinhala</option>
             <option value="Slovak">Slovak</option>
             <option value="Slovenian">Slovenian</option>
             <option value="Samoan">Samoan</option>
             <option value="Shona">Shona</option>
             <option value="Somali">Somali</option>
             <option value="Albanian">Albanian</option>
             <option value="Serbian">Serbian</option>
             <option value="Sesotho">Sesotho</option>
             <option value="Sundanese">Sundanese</option>
             <option value="Swedish">Swedish</option>
             <option value="Swahili">Swahili</option>
             <option value="Tamil">Tamil</option>
             <option value="Telugu">Telugu</option>
             <option value="Tajik">Tajik</option>
             <option value="Thai">Thai</option>
             <option value="Filipino">Filipino</option>
             <option value="Turkish">Turkish</option>
             <option value="Ukrainian">Ukrainian</option>
             <option value="Urdu">Urdu</option>
             <option value="Uzbek">Uzbek</option>
             <option value="Vietnamese">Vietnamese</option>
             <option value="Xhosa">Xhosa</option>
             <option value="Yiddish">Yiddish</option>
             <option value="Yoruba">Yoruba</option>
             <option value="Chinese">Chinese</option>
             <option value="Zulu">Zulu</option>
             
          </select>
          
        <input type="submit" value="Search">
    </form>
    
    {% if word_data %}
    <h3>Word Meaning:</h3>
    <p>{{ word_data }}</p>
    {% endif %}
</body>
</html>
